user_uuid="558734ee-f9b7-4fd6-9631-a5d3fe5b8617"
bucket_name="re41x2dzyn2lrx5w9ch7dqlilpe0omr8"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath"/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1

#terratowns_endpoint="https://terratowns.cloud/api"
#arcanum = {
#  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/arcanum"
#  content_version = 2 
#}
#payday = {
#  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/payday"
#  content_version = 1 
#}

